.vscode/
PlatformIO/
java/
*.class
*.out
*.exe
a.out
*.cmake
*.marks
*.bin
*.make
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-a13537c278d377817083.json
build/.cmake/api/v1/reply/cmakeFiles-v1-a3f1fd95f4d2efacdb0d.json
build/.cmake/api/v1/reply/codemodel-v2-b10630d2587bb2bf82d6.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2026-03-23T10-30-26-0982.json
build/.cmake/api/v1/reply/target-my_app-Debug-45ad597b460f94148b6b.json
build/.cmake/api/v1/reply/toolchains-v1-ee793ea44d57a62b2395.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.3/CMakeSystem.cmake
build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/my_app.dir/build.make
build/CMakeFiles/my_app.dir/cmake_clean.cmake
build/CMakeFiles/my_app.dir/compiler_depend.make
build/CMakeFiles/my_app.dir/compiler_depend.ts
build/CMakeFiles/my_app.dir/depend.make
build/CMakeFiles/my_app.dir/DependInfo.cmake
build/CMakeFiles/my_app.dir/flags.make
build/CMakeFiles/my_app.dir/link.txt
build/CMakeFiles/my_app.dir/progress.make
CMakeLists.txt
.gitignore
JAVA_TO_C_BRIDGE.md
STUDY_GUIDE.md
build/.cmake/api/v1/reply/codemodel-v2-0d83baa2556c2708eb56.json
build/.cmake/api/v1/reply/index-2026-03-23T11-54-20-0246.json
build/.cmake/api/v1/reply/target-my_app-Debug-33ce1fec4bcd7fe2c843.json
build/.cmake/api/v1/reply/target-my_app-Debug-e05e3c5cd0350f4bf453.json
build/.cmake/api/v1/reply/index-2026-03-24T15-53-24-0047.json
build/.cmake/api/v1/reply/codemodel-v2-6dedd9b353f67fffe02c.json
build/.cmake/api/v1/reply/index-2026-03-24T16-10-05-0414.json
array_lesson.c
